:root {
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;

  --text-color-white: #ffffff;
  --text-color-dark: #212121;
  --text-color-gray: #757575;
}

body {
  background: var(--main-background-color);
}

ul {
  list-style: none;
}

footer {
  background: var(--dark-background-color);
}

/* header */

.header-color {
  background: #ffffff;
}

.web-color {
  color: #2196f3;
}
.studio-color {
  color: black;
}
.text-decor {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  width: 145px;
  height: 31px;
}
.phone-color {
  color: #757575;
  text-decoration: none;
}
.phone-color:hover,
.phone-color:focus {
  color: #2196f3;
}

.links {
  color: #212121;
  text-decoration: none;
}

.links:hover,
.links:active {
  color: #2196f3;
}

/* footer */
.logo-footer {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.footer-web {
  color: #2196f3;
}

.address-decor {
  color: #ffffff;
  font-style: none;
  font-style: normal;
}

.footer-mail,
.footer-phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-phone:hover {
  color: #2196f3;
}

/* main section */
.main-section {
  background-color: #2f303a;
}

.hedline {
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.order {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

/* our servises */
.text-color {
  color: var(--text-color-gray);
}

/*  portfolio buttons  */
.buttons {
  color: var(--text-color-dark);
}
/* active пробовала поставить не работает почемуто */
.buttons:hover,
.buttons:active {
  color: var(--text-color-white);
  background-color: #2196f3;
}
